{% extends "base.html" %}
{% load humanize %}
{% load static  %}

{% block title %} About {% endblock %}

{% block content %}
    <!-- contact -->
<section style="background-color: rgb(0, 0, 0);"> 
    <div class="contact-box">
        <div class="icon">📍</div>
        <div class="box-content">
            <br>
            <p>Address</p>
            <br>
            <p style="color: aliceblue;">Bangkok, Thailand</p>
        </div>
    </div>

    <div class="contact-box">
        <div class="icon">✉️</div>
        <div class="box-content">
            <br>
            <p>Email</p>
            <br>
            <p style="color: aliceblue;">coff.shop@gmail.com</p>
        </div>
    </div>

    <div class="contact-box">
        <div class="icon">📞</div>
        <div class="box-content">
            <br>
            <p>Phone</p>
            <br>
            <p style="color: aliceblue;">0991234567</p>
        </div>
    </div>
</section>
{% endblock  %}
    