{% extends "base.html" %}
{% load humanize %}

{% block title %} {{product.name}} {% endblock %}

{% block content %}
    <!-- เนื้อหา (Content) -->
    <div class="container my-3">
        <div class="card-wrapper">
            <div class="row align-items-center mt-4">
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="{{product.image.url}}">
                    </div>
                </div>
                <div class="col-12 col-lg-6 my-4">
                    <div class="text-box">
                        <h5 class="mbr-title mbr-fonts-style display-5">
                            <strong>{{product.name}}</strong>
                            <p class="display-7 text-secondary">Stock: {{product.stock}}</p>
                        </h5>
                        <p class="mbr-text mbr-fonts-style display-7">{{product.description}}</p>
                        <div class="cost">
                            <span class="currentcost mbr-fonts-style pr-2 display-5">฿ {{product.price | intcomma}}</span>
                        </div>
                        <div class="mbr-section-btn pt-3">
                            {% if product.stock <= 0 %}
                                <h2 class ="text-center"> Out of stock</h2>   
                            {% else %}
                                <a href="{% url 'addCart' product.id %}" class="btn btn-primary display-4">
                                    <i class="bi bi-cart3"></i></i>&nbsp;
                                    หยิบสินค้าลงตะกร้า
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}