{% extends 'base.html' %}

{% block content %}
<section class="form7 cid-tsJ8wGtENs" id="form7-q">
<div class="container">
    <div class="mbr-section-head">
        <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <p><a href="/login" style="color: rgb(255, 166, 0);">Login</a> | <a href="/register" style="color: rgb(0, 0, 0);">Register</a></p>
        </h3>
        <br>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8 mx-auto mbr-form">
            <form method="POST" class="mbr-form form-with-styler mx-auto">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages  %}
                    <div class="alert alert-warning" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="dragArea row">
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                        <input type="text" name="username" placeholder="Username" class="form-control" value="">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3">
                        <input type="password" name="password" placeholder="Password" class="form-control" value="">
                    </div>
                    <div class="col-auto mbr-section-btn align-center">
                        <button type="submit" class="btn btn-primary display-4">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>
{% endblock %}
